.idea
__pycache__
ImagesBackup
Dataset
ChessboardImages
ChessboardImages.zip
Checkpoints
ChessPiece_Detection_Cloud
ChessPieceData
CP
cp_dataset
Documents
New_Extract_Res
pieces
runs
Tensorboard
Detecton_weights
Detecto.py
LoadYOLO7.py
output.png
Warped.png
torch_old.yml
ChessPiece_Detection_Cloud.zip
Result.csv
yolov5
